.footer {
    background-color: hsl(0,0%,21%);
    color: white;
    border-top: 3px solid rgba(255,255,255,.5);
    width: 100%;
    padding: 5px !important;
    position: fixed;
    bottom: 0px;
    text-align: center;
}